PORT=19010
CORS_ORIGIN=http://192.168.14.55:19000
PROJECTS_ROOT=/home/ubuntu/Projects
KEYCLOAK_ISSUER_URL=https://auth.grdn.pl/realms/garden
KEYCLOAK_JWKS_URL=https://auth.grdn.pl/realms/garden/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=garden-home-app
KEYCLOAK_CLIENT_ID=garden-home-app
AUTH_PUBLIC_PATHS=GET /health,GET /v1/auth/login,GET /v1/auth/callback,GET /v1/auth/profile,GET /v1/auth/me,GET /v1/auth/logout,POST /v1/auth/logout
SCAN_REPORT_REALM_ROLES=developer,employee.developer
