PORT=18010
CORS_ORIGIN=http://192.168.14.55:18000
PROJECTS_ROOT=/home/ubuntu/Projects
KEYCLOAK_ISSUER_URL=https://auth.grdn.pl/realms/garden
KEYCLOAK_JWKS_URL=https://auth.grdn.pl/realms/garden/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=garden-home-app
AUTH_PUBLIC_PATHS=GET /health
SCAN_REPORT_REALM_ROLES=developer,employee.developer
